div.excerpt p {
  margin-bottom: 0px;
}

/* lightbox gallery */
.lb-gallery {
  display: table;
  margin: 0 auto;
  margin-bottom: 24px;
  overflow: hidden;
}

.lb-gallery ul {
  list-style: none;
  margin: auto;
}

.lb-gallery li {
  padding: 10px;
  float: left;
}

.lb-gallery .thumb {
  width: 135px;
  height: 135px;
  border-radius: 5%;
}

.lb-gallery .box {
  float: right;
  width: 135px;
}

.lb-gallery .box span {
  display: block;
  font-size: x-small;
}
