<!DOCTYPE html>
<html lang="de-DE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ site.title }} |  {{ site.subtitle }}</title>
    <link href="https://fonts.gstatic.com" crossorigin rel="preconnect" />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      id="twentyfourteen-lato-css"
      href="https://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900%2C300italic%2C400italic%2C700italic&#038;subset=latin%2Clatin-ext"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="genericons-css"
      href="{{ site.baseurl }}/assets/css/genericons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="twentyfourteen-style-css"
      href="{{ site.baseurl }}/assets/css/wordpress-theme.css"
      type="text/css"
      media="all"
    />
    <link 
      rel="stylesheet"
      id="custom-style-css"
      href="{{ site.baseurl }}/assets/css/custom.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="lightbox-style-css"
      href="{{ site.baseurl }}/assets/css/lightbox.css"
      type="text/css"
      media="all"
    />

    <style type="text/css">
      .recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
      }
    </style>

    <style type="text/css" id="custom-background-css">
      body.custom-background {
        background-color: #000000;
      }
    </style>

    <script src="https://kit.fontawesome.com/38f657d091.js" crossorigin="anonymous"></script>
  </head>

  <body
    class="home blog custom-background wp-embed-responsive header-image list-view full-width grid"
  >
      <div id="page" class="hfeed site">
      <div id="site-header">
        <a href="{{ site.url }}" rel="home">
          <img
            src="{{ site.baseurl }}/assets/images/los-angeles-title.jpg  "
            width="1260"
            height="326"
            alt="USA Westcoast Tour 2014"
          />
        </a>
      </div>

      <header id="masthead" class="site-header" role="banner">
        <div class="header-main">
          <h1 class="site-title">
            <a href="{{ site.url }}" rel="home">{{ site.title }}</a>
          </h1>
      </header>

      <div id="main" class="site-main">
        <div id="main-content" class="main-content">
          <div id="primary" class="content-area">
            <div id="content" class="site-content" role="main">
              {{ content }}
            </div>
          </div>
        </div>

        <div id="secondary">
          <h2 class="site-description">{{ site.subtitle }}</h2>
          <div
            id="primary-sidebar"
            class="primary-sidebar widget-area"
            role="complementary"
          >
            <aside id="recent-posts-2" class="widget widget_recent_entries">
              <h1 class="widget-title">Neueste Beiträge</h1>
              <ul>
                {% for post in site.posts limit: 5 %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </aside>
            <aside id="meta-2" class="widget widget_meta">
              <h1 class="widget-title">Meta</h1>
                <ul>
                  <li>
                    <i class="fab fa-github"></i>&nbsp;
                    <a href="https://github.com/janhuddel/usa-blog">GitHub Repo</a>
                  </li>
                  <li>
                    <i class="fab fa-twitter"></i>&nbsp;
                    <a href="https://twitter.com/realHuddl">Twitter</a>
                  </li>
                </ul>
            </aside>
          </div>
        </div>
      </div>

      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="site-info">
          <a href="https://pages.github.com/" class="imprint">
            Stolz präsentiert von GitHub Pages
          </a>
        </div>
      </footer>
    </div>

    <script
      type="text/javascript"
      src="{{ site.baseurl }}/assets/scripts/lightbox-plus-jquery.min.js"
    ></script>
  </body>
</html>
