---
layout: default
---

<article
  class="post type-post status-publish format-standard hentry category-uncategorized"
>
  <header class="entry-header">
    <h1 class="entry-title">{{ page.title }}</h1>
    <div class="entry-meta">
      <span class="entry-date">
        <a href="#" rel="bookmark">
          <time
            class="entry-date"
            datetime="{{ page.date | date_to_xmlschema }}"
          >
            {{ page.date | date: '%B %d, %Y' }}
          </time>
        </a>
      </span>
    </div>
  </header>
  <div class="entry-content">
    {{ content }}
  </div>
</article>
<nav class="navigation post-navigation" role="navigation">
  <h1 class="screen-reader-text">Beitrags-Navigation</h1>
  <div class="nav-links">
    {% if page.previous.url %}
    <a href="{{site.baseurl}}{{page.previous.url}}" rel="prev">
      <span class="meta-nav">Vorheriger Beitrag</span>{{page.previous.title}}
    </a>
    {% endif %} {% if page.next.url %}
    <a href="{{site.baseurl}}{{page.next.url}}" rel="next">
      <span class="meta-nav">Nächster Beitrag</span>{{page.next.title}}
    </a>
    {% endif %}
  </div>
</nav>
